/* ADDITIONS TO THE TWITCH PAGE */
:root {
    --twtch-text-color: #0e0e10;
}

.tw-root--theme-dark {
    --twtch-text-color: #efeff1;
}

.os-mac .twitchTitlebar .actions:nth-child(2) {
  display: none;
}

.os-mac .twitchTitlebar .actions:nth-child(1) {
    margin-left: 70px;
}

.twitchTitlebar {
    width: 100%;
    display: flex;
    align-content: center;
    height: 40px;
    background: var(--color-background-base);
    -webkit-app-region: drag;
  }
  .twitchTitlebar .actions {
    width: 100%;
    display: flex;
    align-content: center;
  }
  .twitchTitlebar .actions svg {
    height: 15px;
    width: auto;
  }
  .twitchTitlebar .actions:nth-child(2) {
    justify-content: end;
  }
  .twitchTitlebar .actions button {
    -webkit-app-region: no-drag;
    appearance: none;
    width: 40px;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--twtch-text-color);
    fill: var(--twtch-text-color);
  }

  .twitchTitlebar .actions rect {
    stroke: var(--twtch-text-color);
  }
  .twitchTitlebar .actions path {
    fill: var(--twtch-text-color);
  }
  .twitchTitlebar .actions button:hover {
    background: var(--color-background-button-text-hover);
  }
  .twitchTitlebar #btnClose:hover {
    background: #D33328;
    color: white;
  }
  .twitchTitlebar #btnClose:hover svg path {
    fill: white;
  }

  /* OVERRIDES TO THE TWITCH PAGE */
  [title="Display Ad"] {
    display:  none;
}
.top-nav .tw-animated-glitch-logo {
    transform:  rotate(180deg);
    transition:  transform 200ms ease-in-out;
}

.top-nav .tw-animated-glitch-logo:hover {
    transform:  rotate(0);
}