/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background:  #f7f7f7;
}

.container {
	height:  90vh;
	width:  100vw;
	display:  flex;
	align-items:  center;
	justify-content:  center;
	font-family:  "Poppins";
}

.content {
	max-width:  800px;
	display:  flex;
	align-items:  center;
	justify-content:  center;
	flex-direction:  column;
}

.description {
	font-size:  16px;
	line-height:  1.2;
	text-align:  center;
	max-width:  75%;
}

.description h1 {
	font-size:  36px;
	margin-bottom:  8px;
	font-weight:  600;
}

.description h2 {
	font-size:  16px;
	font-weight:  600;
	margin-bottom:  24px;
}

.downloads {
	display:  flex;
}

.icon,
.description,
.downloads {
	margin-bottom:  16px;
}

.logo img {
	height: 256px;
}

.btn {
	appearance:  none;
	font-size:  16px;
	border:  1px solid #9146FF;
	background-color:  #9146FF;
	color:  #FFFFFF;
	padding: 8px 12px;
	cursor:  pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration:  none;
}

.btn:hover {
	border-color:  #563589;
	background-color:  #563589;
}

.btn:active {
	border-color:  #26173d;
	background-color:  #26173d;
}

.btn + .btn {
	margin-left: 10px;
}

.icon {
	height: 28px;
	width: 28px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	margin:  0;
	margin-right: 8px;
}

.icon.icon-windows {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='88' width='88'%3E%3Cpath style='fill:%23ffffff;' d='m0,12.402,35.687-4.8602,0.0156,34.423-35.67,0.20313zm35.67,33.529,0.0277,34.453-35.67-4.9041-0.002-29.78zm4.3261-39.025,47.318-6.906,0,41.527-47.318,0.37565zm47.329,39.349-0.0111,41.34-47.318-6.6784-0.0663-34.739z'/%3E%3C/svg%3E");
}

.icon.icon-linux {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='261px' height='305px' viewBox='0 0 261 305' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EXMLID_92_%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='linux-svgrepo-com-(1)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M252.659,244.888 C243.715,241.225 239.889,236.364 240.259,229.111 C240.64,220.645 235.837,214.444 233.556,211.994 C234.934,206.73 238.961,188.52 233.56,172.703 C227.756,155.773 210.036,129.916 191.752,104.499 C184.267,94.061 183.913,82.715 183.504,69.577 C183.112,57.046 182.67,42.842 175.682,27.052 C168.084,9.859 152.838,0 133.851,0 C122.556,0 110.962,3.53 102.04,9.684 C83.77,22.293 86.185,49.784 87.783,67.975 C88.002,70.466 88.208,72.819 88.328,74.828 C89.392,92.644 88.424,102.034 87.158,104.888 C86.339,106.753 82.307,112.061 78.04,117.681 C73.627,123.493 68.624,130.081 64.523,136.22 C59.63,143.607 55.68,154.898 51.86,165.817 C49.065,173.807 46.425,181.354 43.855,185.864 C38.984,194.54 40.196,202.63 41.208,206.369 C39.364,207.65 36.7,210.172 34.451,214.926 C31.733,220.726 26.218,223.843 14.75,226.048 C9.48,227.126 5.846,229.342 3.946,232.634 C1.181,237.425 2.687,243.445 4.061,247.559 C6.091,253.607 4.826,257.435 2.526,264.385 C1.996,265.989 1.395,267.805 0.786,269.808 C-0.173,272.969 0.173,275.843 1.812,278.35 C6.143,284.971 18.781,287.306 31.791,288.842 C39.559,289.764 48.061,292.871 56.284,295.877 C64.341,298.821 72.672,301.866 80.245,302.79 C81.396,302.935 82.536,303.008 83.635,303.008 C95.069,303.008 100.235,295.421 101.873,292.304 C105.98,291.466 120.145,288.782 134.744,288.422 C149.32,288.006 163.423,290.884 167.418,291.779 C168.674,294.183 171.985,299.674 177.263,302.503 C180.164,304.089 184.201,304.998 188.336,304.998 C188.337,304.998 188.336,304.998 188.337,304.998 C192.753,304.998 201.154,303.954 207.803,296.959 C214.435,289.931 231.005,280.959 243.105,274.408 C245.805,272.946 248.331,271.578 250.546,270.343 C257.343,266.575 261.052,261.191 260.721,255.572 C260.445,250.905 257.356,246.811 252.659,244.888 Z M102.189,243.535 C101.343,237.575 93.676,231.664 84.797,224.82 C77.537,219.223 69.308,212.88 67.041,207.508 C62.356,196.426 66.049,176.94 72.488,166.906 C75.67,161.882 78.269,154.263 80.783,146.895 C83.497,138.939 86.304,130.713 89.443,127.112 C94.414,121.49 99.008,110.551 99.822,101.93 C104.477,106.374 111.698,112.013 118.369,112.013 C119.396,112.013 120.393,111.879 121.346,111.61 C125.91,110.292 132.623,106.413 139.115,102.663 C144.712,99.429 151.614,95.441 154.211,95.078 C158.664,101.472 184.539,158.733 187.183,177.122 C189.275,191.672 187.065,203.7 185.954,208.411 C185.06,208.289 183.994,208.19 182.874,208.19 C175.667,208.19 173.759,212.124 173.262,214.473 C171.984,220.576 171.849,240.091 171.835,244.476 C169.229,247.787 156.05,263.379 137.129,266.182 C129.422,267.302 122.225,267.87 115.739,267.87 C110.195,267.87 106.657,267.442 105.188,267.219 L95.68,256.34 C99.429,254.489 103.177,250.583 102.189,243.535 Z M114.254,64.149 C113.957,64.277 113.665,64.414 113.378,64.56 C113.349,63.916 113.282,63.263 113.179,62.608 C112.141,56.633 108.179,52.296 103.76,52.296 C103.433,52.296 103.104,52.321 102.743,52.376 C100.114,52.814 98.052,54.789 96.922,57.589 C97.913,51.445 101.394,46.896 105.524,46.896 C110.374,46.896 114.471,53.432 114.471,61.168 C114.471,62.143 114.4,63.113 114.254,64.149 Z M151.94,68.756 C152.384,67.342 152.624,65.812 152.624,64.224 C152.624,57.21 148.174,51.715 142.493,51.715 C136.941,51.715 132.424,57.326 132.424,64.224 C132.424,64.694 132.447,65.165 132.491,65.635 C132.197,65.522 131.91,65.412 131.63,65.306 C130.991,63.371 130.668,61.352 130.668,59.291 C130.668,50.904 136.028,44.08 142.618,44.08 C149.207,44.08 154.568,50.904 154.568,59.291 C154.568,62.78 153.605,66.11 151.94,68.756 Z M147.081,85.08 C146.986,85.504 146.784,85.692 144.55,86.854 C143.422,87.441 142.018,88.172 140.261,89.242 L139.087,89.953 C134.369,92.813 123.322,99.512 120.323,99.905 C118.286,100.179 117.026,99.389 114.193,97.464 C113.554,97.029 112.874,96.567 112.149,96.102 C107.042,92.751 103.757,89.06 103.386,87.617 C105.051,86.33 109.178,83.109 111.291,81.202 C115.58,77.214 119.896,74.534 122.032,74.534 C122.145,74.534 122.247,74.542 122.353,74.562 C124.863,75.005 131.054,77.476 135.576,79.28 C137.666,80.114 139.471,80.834 140.741,81.29 C144.742,82.664 146.828,84.422 147.081,85.08 Z M183.028,271.45 C185.285,261.269 187.885,247.419 187.464,239.254 C187.367,237.399 187.203,235.38 187.044,233.428 C186.747,229.778 186.306,224.353 186.761,222.744 C186.851,222.702 186.951,222.666 187.062,222.635 C187.081,227.303 188.095,236.614 195.541,239.861 C197.76,240.829 200.296,241.319 203.078,241.319 C210.537,241.319 218.813,237.66 222.203,234.27 C224.199,232.274 225.878,229.832 227.054,227.898 C227.311,228.651 227.469,229.635 227.386,230.903 C226.943,237.788 230.289,246.922 236.657,250.288 L237.584,250.775 C239.852,251.965 245.876,255.128 245.973,256.628 C245.972,256.629 245.922,256.805 245.586,257.117 C244.077,258.496 238.766,261.208 233.63,263.831 C224.519,268.483 214.192,273.756 209.554,278.634 C203.024,285.506 195.638,290.122 191.178,290.122 C190.641,290.122 190.152,290.054 189.717,289.916 C184.873,288.406 180.886,281.417 183.028,271.45 Z M17.917,245.477 C17.423,243.165 17.033,241.34 17.452,239.572 C17.756,238.262 24.223,236.858 26.985,236.259 C30.868,235.416 34.884,234.545 37.51,232.951 C41.061,230.8 42.984,226.833 44.68,223.333 C45.908,220.802 47.176,218.185 48.685,217.326 C48.77,217.276 48.9,217.218 49.148,217.218 C51.975,217.218 57.907,223.161 61.325,228.48 C62.192,229.821 63.798,232.508 65.656,235.619 C71.213,244.917 78.822,257.652 82.796,261.92 C86.377,265.757 92.174,273.134 90.748,279.461 C89.704,284.37 84.146,288.362 82.835,289.245 C82.359,289.353 81.77,289.408 81.077,289.408 C73.471,289.408 58.415,283.08 50.326,279.68 L49.129,279.177 C44.612,277.283 37.238,276.09 30.107,274.936 C24.433,274.017 16.663,272.76 15.375,271.624 C14.331,270.453 15.542,266.646 16.61,263.287 C17.379,260.873 18.173,258.377 18.608,255.764 C19.225,251.596 18.499,248.203 17.917,245.477 Z' id='XMLID_92_'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon.icon-macos {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='42px' height='42px' viewBox='0 0 42 42' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EShape%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='MacOS_logo' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M23.091,14.018 L23.091,13.676 L22.028,13.749 C21.727,13.768 21.501,13.832 21.349,13.94 C21.197,14.049 21.121,14.2 21.121,14.393 C21.121,14.581 21.196,14.731 21.347,14.842 C21.497,14.954 21.699,15.009 21.951,15.009 C22.112,15.009 22.263,14.984 22.402,14.935 C22.541,14.886 22.663,14.817 22.765,14.729 C22.867,14.642 22.947,14.538 23.004,14.417 C23.062,14.296 23.091,14.163 23.091,14.018 Z M21,0.25 C9.421,0.25 0.25,9.421 0.25,21 C0.25,32.58 9.421,41.75 21,41.75 C32.579,41.75 41.75,32.58 41.75,21 C41.75,9.421 32.58,0.25 21,0.25 Z M25.028,12.549 C25.126,12.274 25.264,12.038 25.443,11.842 C25.622,11.646 25.837,11.495 26.089,11.389 C26.341,11.283 26.622,11.23 26.931,11.23 C27.21,11.23 27.462,11.272 27.686,11.355 C27.911,11.438 28.103,11.55 28.264,11.691 C28.425,11.832 28.553,11.996 28.647,12.184 C28.741,12.372 28.797,12.571 28.816,12.78 L27.983,12.78 C27.962,12.665 27.924,12.557 27.87,12.458 C27.816,12.359 27.745,12.273 27.657,12.2 C27.568,12.127 27.464,12.07 27.345,12.029 C27.225,11.987 27.091,11.967 26.94,11.967 C26.763,11.967 26.602,12.003 26.459,12.074 C26.315,12.145 26.192,12.246 26.09,12.376 C25.988,12.506 25.909,12.665 25.853,12.851 C25.796,13.038 25.768,13.245 25.768,13.473 C25.768,13.709 25.796,13.921 25.853,14.107 C25.909,14.294 25.989,14.451 26.093,14.58 C26.196,14.709 26.321,14.808 26.466,14.876 C26.611,14.944 26.771,14.979 26.945,14.979 C27.23,14.979 27.462,14.912 27.642,14.778 C27.822,14.644 27.938,14.448 27.992,14.19 L28.826,14.19 C28.802,14.418 28.739,14.626 28.637,14.814 C28.535,15.002 28.403,15.162 28.241,15.295 C28.078,15.428 27.887,15.531 27.667,15.603 C27.447,15.675 27.205,15.712 26.942,15.712 C26.63,15.712 26.349,15.66 26.096,15.557 C25.844,15.454 25.627,15.305 25.447,15.112 C25.267,14.919 25.128,14.684 25.03,14.407 C24.932,14.13 24.883,13.819 24.883,13.472 C24.881,13.133 24.93,12.825 25.028,12.549 L25.028,12.549 Z M13.175,11.287 L14.009,11.287 L14.009,12.028 L14.025,12.028 C14.076,11.905 14.143,11.794 14.225,11.698 C14.307,11.601 14.401,11.519 14.509,11.45 C14.616,11.381 14.735,11.329 14.863,11.293 C14.992,11.257 15.128,11.239 15.27,11.239 C15.576,11.239 15.835,11.312 16.045,11.458 C16.256,11.604 16.406,11.814 16.494,12.088 L16.515,12.088 C16.571,11.956 16.645,11.838 16.736,11.734 C16.827,11.63 16.932,11.54 17.05,11.466 C17.168,11.392 17.298,11.336 17.439,11.297 C17.58,11.258 17.728,11.239 17.884,11.239 C18.099,11.239 18.294,11.273 18.47,11.342 C18.646,11.411 18.796,11.507 18.921,11.632 C19.046,11.757 19.142,11.909 19.209,12.087 C19.276,12.265 19.31,12.463 19.31,12.681 L19.31,15.662 L18.44,15.662 L18.44,12.89 C18.44,12.603 18.366,12.38 18.218,12.223 C18.071,12.066 17.86,11.987 17.586,11.987 C17.452,11.987 17.329,12.011 17.217,12.058 C17.106,12.105 17.009,12.171 16.929,12.256 C16.848,12.34 16.785,12.442 16.74,12.56 C16.694,12.678 16.671,12.807 16.671,12.947 L16.671,15.662 L15.813,15.662 L15.813,12.818 C15.813,12.692 15.793,12.578 15.754,12.476 C15.715,12.374 15.66,12.287 15.587,12.214 C15.515,12.141 15.426,12.086 15.323,12.047 C15.219,12.008 15.103,11.988 14.974,11.988 C14.84,11.988 14.716,12.013 14.601,12.063 C14.487,12.113 14.389,12.182 14.307,12.27 C14.225,12.359 14.161,12.463 14.116,12.584 C14.072,12.704 14,12.836 14,12.978 L14,15.661 L13.175,15.661 L13.175,11.287 L13.175,11.287 Z M15.068,32.226 C11.243,32.226 8.844,29.568 8.844,25.326 C8.844,21.084 11.243,18.417 15.068,18.417 C18.893,18.417 21.283,21.084 21.283,25.326 C21.283,29.567 18.893,32.226 15.068,32.226 Z M22.15,15.651 C22.009,15.687 21.865,15.705 21.717,15.705 C21.499,15.705 21.3,15.674 21.119,15.612 C20.937,15.55 20.782,15.463 20.652,15.35 C20.522,15.237 20.42,15.101 20.348,14.941 C20.275,14.781 20.239,14.603 20.239,14.407 C20.239,14.023 20.382,13.723 20.668,13.507 C20.954,13.291 21.368,13.165 21.911,13.13 L23.091,13.062 L23.091,12.724 C23.091,12.472 23.011,12.279 22.851,12.148 C22.691,12.017 22.465,11.951 22.172,11.951 C22.054,11.951 21.943,11.966 21.841,11.995 C21.739,12.025 21.649,12.067 21.571,12.122 C21.493,12.177 21.428,12.243 21.378,12.32 C21.327,12.396 21.292,12.482 21.273,12.576 L20.455,12.576 C20.46,12.383 20.508,12.204 20.598,12.04 C20.688,11.876 20.81,11.734 20.965,11.613 C21.12,11.492 21.301,11.398 21.511,11.331 C21.721,11.264 21.949,11.23 22.196,11.23 C22.462,11.23 22.703,11.263 22.919,11.331 C23.135,11.399 23.32,11.494 23.473,11.619 C23.626,11.744 23.744,11.894 23.827,12.07 C23.91,12.246 23.952,12.443 23.952,12.66 L23.952,15.661 L23.119,15.661 L23.119,14.932 L23.098,14.932 C23.036,15.05 22.958,15.157 22.863,15.252 C22.767,15.347 22.66,15.429 22.541,15.496 C22.421,15.563 22.291,15.615 22.15,15.651 L22.15,15.651 Z M27.653,32.226 C24.736,32.226 22.753,30.698 22.615,28.299 L24.514,28.299 C24.662,29.67 25.987,30.578 27.802,30.578 C29.543,30.578 30.794,29.67 30.794,28.429 C30.794,27.355 30.034,26.706 28.275,26.262 L26.561,25.836 C24.097,25.225 22.977,24.104 22.977,22.261 C22.977,19.992 24.959,18.417 27.784,18.417 C30.544,18.417 32.47,20.001 32.544,22.279 L30.664,22.279 C30.534,20.908 29.414,20.065 27.746,20.065 C26.088,20.065 24.94,20.917 24.94,22.149 C24.94,23.121 25.662,23.696 27.422,24.14 L28.867,24.501 C31.618,25.168 32.748,26.252 32.748,28.197 C32.747,30.679 30.784,32.226 27.653,32.226 L27.653,32.226 Z M15.068,20.12 C12.447,20.12 10.808,22.13 10.808,25.325 C10.808,28.511 12.447,30.521 15.068,30.521 C17.68,30.521 19.3280005,28.511 19.3280005,25.325 C19.329,22.13 17.68,20.12 15.068,20.12 L15.068,20.12 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


footer {
	line-height: 1.2;
	text-align:  center;
	font-family:  "Poppins";
}

footer a {
	text-decoration:  none;
}


